header{
    background-color: rgb(170, 198, 240);
    height: 60px;
    display: flex;
    align-items: center;
    
}
header p{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    
}

#imagenes{
    text-align: center;
    position: relative;
}

#imagenes p{
    position: relative;
    margin: 5px;
    margin-top: 10px;
    display: inline-block;
    justify-content: center;
}

#imagenes img{
    height: 100px;
    width: 120px;
    margin: auto;
}

#imagenes img:hover{
    opacity: 0.3;
}

#secciones div{
    margin-top: 10px;
    border-top: blue 15px solid;
    border-bottom: blue 15px solid;
    height: 2em;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#secciones p{
    display: inline;
    margin: 4px;
}

#secciones p:hover{
    background-color: rgba(170, 198, 240, 0.5);
}

#texto{
    background-image: url(./img/valencia_antigua.jpg);
    opacity: 0.9;
    background-size: 250px 180px;
    background-repeat: repeat;
    position: relative;
    width: 60%;
    height: 50%;
    border: 1px black solid;
}

#texto p{
    color: blue;
}

#final {
    margin-top: 10px;
    background-color: rgb(170, 198, 240);
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url(./img/valencia_antigua2.jpg);
    background-size: 500px 400px;
    background-position: center;
    background-repeat: no-repeat;
}

.corto{
    width: 600px;
    opacity: 0.5;
}

.largo{
    opacity: 0.5;
}