body{
    background-color: rgb(247, 212, 201);
}
#Encabezado{
    font-size: 20pt;
    font-weight: bold;
    color: rgb(126, 6, 42);
    text-align: center;
    position: relative;
    
    margin-top: 10px;
    margin-bottom: 10px;
}

img{
    width: 80px;
}

a.carta{
    position: relative;
    
    
}

a.cafe{
    position: relative;
    margin-left: 40%;
    
}
a.contacto{
    position: relative;
    margin-left: 75%;
}

footer{
    margin-top: 20px;
}

p{
    color: indianred;
    font-size: 10pt;
}