@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

body{
    margin: 0;
    background-color: rgb(247, 230, 154);
}

header a{
    text-decoration: none;
    font-family: 'Akaya Kanadaka', cursive;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-shadow: red 5px 0px;
}

header div{
    padding-top: 10px;
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: orange;
}

nav div{
    text-align: center;
    border-color: red 1px solid;
    background-color: rgb(244, 217, 96);
    height: 40px;
    vertical-align: middle;
    border: 2px red solid;
}
nav a{
    text-decoration: none;
    margin: 10px;
    display: inline-block;
    background-color: orange;
    color: white;
    border: 2px red solid;

}
nav a:hover{
    background-color: red;
}

#naranja{
    position: absolute;
    top: 20%;
    left: 25%;
    right: 25%;
    bottom: 50%;
    background-color: orange;
    text-align: center;
    z-index: 2;
    border: 2px red solid;
}

#naranja p{
    color: red;
    margin: 0px 20px;
    text-decoration: underline;
}

#amarillo{
    position: absolute;
    left: 5%;
    right: 55%;
    top: 40%;
    bottom: 20%;
    background-color: rgb(248, 229, 145);
    border: rgb(248, 214, 64) 2px solid;
}

#amarillo p{
    border: 0;
    text-align: left;
    z-index: 3;
    color: rgb(248, 169, 23);
}

#amarillo:hover{
    z-index: 6;
}

#azul{
    position: absolute;
    right: 5%;
    left: 55%;
    top: 40%;
    bottom: 20%;
    background-color: rgb(167, 228, 252);
    z-index: 1;
    border: rgb(233, 153, 34) 2px solid;
}

#azul p{
    color: rgb(233, 153, 34);
    border: 0;
    text-align: right;
    
}

#azul:hover{
    z-index: 6;
}

/* #pie{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: orange;
    text-align: center;
}

footer p{
    position: relative;
    font-size: 80%;
    display: inline-block;
    background-color: rgb(247, 230, 154);
    width: 100%;
    margin-bottom: 0;
    color: rgb(192, 125, 0);
} */

footer{
    text-align: center;
}


footer p{
    font-size: 80%;
    position: absolute;
    border-top: orange 30px solid;
    top: 92%;
    left: 0%;
    right: 0%;
    color: rgb(255, 136, 0);
    background-color: rgb(244, 217, 96);
}

#definicion{
    position: absolute;
    text-align: left;
    width: 300px;
    top: 200px;
    left: 600px;
    background-color: orange;
}
#definicion p{
    margin: 0;
    color: white;
}

