@font-face{
    font-family: PottaOne;
    src: url(./fuentes/PottaOne-Regular.ttf);
}
@font-face{
    font-family: YuseiMagic;
    src: url(./fuentes/YuseiMagic-Regular.ttf);
}

#Titulo{
    font-family: 'PottaOne', sans-serif;
    color: yellow;
    background-color: blue;
    height: 1.5em;
    width: 80%;
    font-size: 18pt;
    text-align: center;
}

#primer{
    border: red 1px solid;
    display: flex;
}

#izquierda{
    background-color: green;
    color: white;
    display: inline-block;
    width: 30%;
    position: relative;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}

#primer div{
    width: 70%;
    position: relative;
    border: red 1px solid;
    vertical-align: bottom;
}

#derecha{
    display: inline;
    background-color: black;
    color: yellow;
    line-height: 2;
}

.aux{
    opacity: 0.4;
    width: 60%;
    justify-self: center;
    margin-bottom: 10px;
}



.divisor{
    clear: both;
    height: 10px;
    color: blue;
    background-color: blue;
    position: relative;
    margin-left: 0px;
    width: 80%;
}

#segon p{
    font-family: 'Potta One', sans-serif;
    font-size: 120%;
}

#tercer{
    font-family: 'YuseiMagic',sans-serif;
    font-size: 110%;
    font-weight: bold;
}